<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | Home</title>
</head>
<body>
    <h1>Sample App</h1>
    <p>
      Sample App
      This is the home for the
      <a href="http://railstutorial.org">Ruby on Rails tutorial</a>
      sample applications
    </p>

</body>
</html>


